

body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


.stoteles {
  width: 300px;
  background-color: #A89565;
  opacity: 0.9;
  border: 5px solid black;
  border-radius: 10px;
  border-width: 1px;
  padding: 20px;
  margin: 20px 0px;


}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: black;
  text-align: center;
  color: white;
}

.container {
  margin-top: 0px;
  display: inline-block;
  width: 1000px;

  vertical-align: top;
}

header.container {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  background-color: black;
}

.logo {
  height: 60px;
  margin-right: auto;
}

.main-container-home {
  background-image: url(./assets/carBackground.webp);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 0px;
}

.enter-page-container{
  width: 100vw;
  background-image: url(./assets/enterPageCover.webp);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  min-height: 100vh;
}

.enter-page-main{
  width: 400px;
    padding: 40px;
    display: inline-block;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
}

.enter-page-header{
  width: 600px;
  display: ruby;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.text-container{
  text-align: center;
  background-color: #A89565;
  opacity: 0.7;
  border-radius: 10px;
  border-width: 1px;
  padding: 20px;
  color: black;
}

.clock-container{
  width: 200px;
  display: flex;
  justify-content: flex-start;
  color: aliceblue;
  font-family: 'Orbitron', sans-serif;
}

.login-error {
  color: red;
  margin-top: 10px;
}

.enter-page-signup-link {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  color: white;
  font-size: small;
  margin-bottom: 30px;

}

.login-form {
  margin: 20px 0px;
}

.link {
  color: white;
  background-color: black;
  border: 5px solid white;
  border-radius: 10px;
  border-width: 1px;
  padding: 10px;
  text-decoration: none;
}

.navigate{
  width: 500px;
  gap: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.logout-button{
  margin: 0px 10px;
  background-color: #A89565;
  border: 5px solid black;
  border-radius: 10px;
  border-width: 1px;
  padding: 10px;

}

.select-car{
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 20px;
}

.stasion-info{
  flex-grow: 1;
  font-size: 10px;
}

.modal {
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px; 
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: white;
  z-index: 1000; 
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 999;
}

.my-cars-img{
  margin: 20px;
  width: 150px;
  border: 5px solid black;
  border-radius: 10px;
  border-width: 1px;
}
